.first{
    background-color: rgb(159, 182, 182);
    text-align: end;
    width: 70%;
    margin-bottom: 80%px;
    float: right;

}
.first h1{
    color: brown;
    text-align: center;

}

.first p{
    color: rgb(89, 42, 165);
    text-align: center;
    
}
.image img{
    margin: 100px;
   color: coral;
   border: coral solid black;
   float: left;
   width: 10%;
   height: 150px;
}